.navbar-inverse .navbar-brand {
    color: rgb(216, 216, 215);
}
a{
    color:rgb(185, 185, 185)
}
.navbar-inverse .navbar-nav>li>a {
    color: rgb(216, 216, 215);
}
a:focus, a:hover {
    color: #ffffff;
    text-decoration: underline;
}
